@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

.image {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#top {
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    opacity: 0.83;
    background: linear-gradient(#6b7b96 0%, #a3aac4 100%);
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
}

.paralax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 300px;
}

.line {
    height: 6px;
    width: 70px;
    background-color: black;
    margin: auto;
}

p {
    font-family: sans-serif;
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.45;
}

.menu {
    position: absolute;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    float: left;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.link:hover {
    background-color: #7485a3;
}

html {
    scroll-behavior: smooth;
}

#apps {
    width: 100%;
    height: 800px;
}

#games {
    width: 100%;
    height: 800px;
}

img {
    position: transform.2s;
}

img:hover {
    transform: scale(0.95);
}

#chatbot {
    width: 100%;
    height: 800px;
}

#art {
    width: 100%;
    height: 800px;
}